main {
  padding: 10px 0px 60px 0px;
}
.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item-list__img {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-list__img img {
  width: 50px;
}

.item-list__info {
  height: 150px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.item-list__info div {
  margin-bottom: 20px;
}
.item-list__info-meta {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.3);
}

.item-list__info-price {
  font-weight: bold;
}

.write-btn {
  position: fixed;
  bottom: 80px;
  right: 20px;
  border: 1px solid #d98226;
  background-color: #d98226;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
